.cartitems {
  margin: 100px 170px;
}
.cartitems hr {
  height: 3px;
  background: #e2e2e2;
  border: 0;
}

.cartitems-format-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 75px;
  padding: 20px 0px;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}

.cartitems-format {
  font-size: 17px;
  font-weight: 500;
}

.carticon-product-icon {
  height: 62px;
}

.cartitems-remove-icon {
  width: 15px;
  margin: 0px 40px;
  cursor: pointer;
}

.cartitems-quantity {
  width: 64px;
  height: 50px;
  border: 2px solid #ebebeb;
  background: #fff;
}
.cartitems-down {
  display: flex;
  margin: 100px;
}

.cartitems-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  gap: 40px;
}
.cartitems-total-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}
.cartitems-total button {
  width: 262px;
  height: 58px;
  outline: none;
  border: none;
  background: #ff5a5a;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.cartitems-promocode {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
}

.cartitems-promocode p {
  color: #555;
}

.cartitems-promobox {
  width: 504px;
  margin-top: 15px;
  padding-left: 20px;
  height: 58px;
  background: #eaeaea;
}
.cartitems-promobox input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  width: 330px;
  height: 50px;
}
.cartitems-promobox button {
  width: 170px;
  height: 58px;
  font-style: 16px;
  background: black;
  color: white;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 1280px) {
  .cartitems {
    margin: 80px 100px;
  }
  .cartitems-format-main {
    gap: 50px;
    font-size: 16px;
  }
  .cartitems-down {
    margin: 80px;
  }
  .cartitems-total {
    margin-right: 100px;
  }
}

@media (max-width: 1024px) {
  .cartitems {
    margin: 60px 60px;
  }
  .cartitems-format-main {
    gap: 30px;
    font-size: 15px;
  }
  .cartitems-down {
    margin: 60px;
    flex-direction: column;
    gap: 40px;
  }
  .cartitems-total {
    margin-right: 0;
  }
  .cartitems-promobox {
    width: 100%;
    max-width: 504px;
  }
}

@media (max-width: 800px) {
  .cartitems {
    margin: 40px 30px;
  }
  .cartitems-format-main {
    grid-template-columns: 1fr 2fr 1fr 1fr;
    gap: 20px;
    font-size: 14px;
  }
  .cartitems-format-main p:first-child,
  .cartitems-format p:first-child {
    display: none;
  }
  .carticon-product-icon {
    height: 50px;
  }
  .cartitems-remove-icon {
    width: 12px;
    margin: 0 20px;
  }
  .cartitems-quantity {
    width: 50px;
    height: 40px;
    font-size: 14px;
  }
  .cartitems-down {
    margin: 40px 0;
  }
  .cartitems-total button {
    width: 100%;
    max-width: 300px;
  }
}

@media (max-width: 500px) {
  .cartitems {
    margin: 30px 15px;
  }
  .cartitems-format-main {
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
    font-size: 12px;
    padding: 10px 0;
  }
  .cartitems-format-main p:nth-child(3) {
    display: none;
  }
  .cartitems-format {
    font-size: 12px;
  }
  .carticon-product-icon {
    height: 40px;
  }
  .cartitems-remove-icon {
    width: 10px;
    margin: 0 10px;
  }
  .cartitems-quantity {
    width: 40px;
    height: 35px;
    font-size: 12px;
  }
  .cartitems-down {
    margin: 30px 0;
    gap: 30px;
  }
  .cartitems-total {
    gap: 25px;
  }
  .cartitems-total-item {
    padding: 10px 0;
    font-size: 14px;
  }
  .cartitems-total button {
    width: 100%;
    height: 50px;
    font-size: 14px;
  }
  .cartitems-promocode {
    font-size: 14px;
  }
  .cartitems-promobox {
    width: 100%;
    height: 50px;
    padding-left: 15px;
  }
  .cartitems-promobox input {
    font-size: 14px;
    width: 60%;
    height: 42px;
  }
  .cartitems-promobox button {
    width: 120px;
    height: 50px;
    font-size: 14px;
  }
}
