.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  box-shadow: 0 1px 3px -2px #000;
  margin-bottom: 1px;
  background: white;
}
.nav-logo {
  width: 200px;
}
.nav-profile {
  width: 75px;
}
.nav-logout-btn {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: #f44336; /* A red color for logout */
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.nav-login-btn {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: #f45456;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-logout-btn:hover {
  background-color: #d32f2f;
}
@media (max-width: 800px) {
  .navbar {
    padding: 15px 30px;
  }
  .nav-logo {
    width: 150px;
  }
  .nav-profile {
    width: 60px;
  }
}
