.newsletter {
  width: 65%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0px 140px;
  margin-bottom: 150px;
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
  gap: 30px;
}

.newsletter h1 {
  color: #454545;
  font-size: 55px;
  font-weight: 600;
}

.newsletter p {
  color: #454545;
  font-size: 20px;
  /* font-weight: 500; */
}

.newsletter div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 730px;
  height: 70px;
  border-radius: 80px;
  border: 1px solid #e3e3e3;
}

.newsletter input {
  width: 500px;
  margin-left: 3px;
  border: none;
  outline: none;
  font-family: Poppins;
  font-size: 16px;
  /* font-weight: 500;
    color: #454545; */
}

.newsletter div button {
  width: 210px;
  height: 70px;
  border-radius: 80px;
  background: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 1280px) {
  .newsletter {
    width: 75%;
    padding: 0px 100px;
  }
  .newsletter h1 {
    font-size: 48px;
  }
  .newsletter div {
    width: 650px;
  }
  .newsletter input {
    width: 450px;
  }
}

@media (max-width: 1024px) {
  .newsletter {
    width: 80%;
    padding: 0px 80px;
    margin-bottom: 100px;
  }
  .newsletter h1 {
    font-size: 42px;
  }
  .newsletter p {
    font-size: 18px;
  }
  .newsletter div {
    width: 600px;
    height: 65px;
  }
  .newsletter input {
    width: 400px;
    font-size: 15px;
  }
  .newsletter div button {
    width: 190px;
    height: 65px;
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  .newsletter {
    width: 90%;
    padding: 30px 40px;
    margin-bottom: 80px;
    height: auto;
    gap: 25px;
  }
  .newsletter h1 {
    font-size: 36px;
    text-align: center;
  }
  .newsletter p {
    font-size: 16px;
    text-align: center;
  }
  .newsletter div {
    width: 100%;
    max-width: 500px;
    height: 60px;
  }
  .newsletter input {
    width: 60%;
    font-size: 14px;
  }
  .newsletter div button {
    width: 150px;
    height: 60px;
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .newsletter {
    width: 95%;
    padding: 25px 20px;
    margin-bottom: 60px;
    gap: 20px;
  }
  .newsletter h1 {
    font-size: 28px;
  }
  .newsletter p {
    font-size: 14px;
  }
  .newsletter div {
    width: 100%;
    height: 55px;
    flex-direction: column;
    height: auto;
    border-radius: 12px;
    padding: 8px;
    gap: 8px;
  }
  .newsletter input {
    width: 100%;
    height: 45px;
    margin-left: 0;
    padding: 0 15px;
    font-size: 14px;
  }
  .newsletter div button {
    width: 100%;
    height: 45px;
    font-size: 14px;
    border-radius: 8px;
  }
}
