.list-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 740px;
  padding: 10px 50px;
  margin: 30px;
  border-radius: 6px;
  background: white;
}
.listproduct-format-main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 60px;
  gap: 10px;
  width: 100%;
  padding: 20px 0px;
  color: #454545;
  font-size: 15px;
  font-weight: 600;
}
.listproduct-format {
  align-items: center;
  font-weight: 500;
}
.listproduct-product-icon {
  height: 80px;
  width: 80px;
  object-fit: contain;
}
.listproduct-remove-icon {
  margin: auto;
  cursor: pointer;
}
.listproduct-allproducts {
  overflow-y: auto;
  width: 100%;
  max-height: 600px;
}

.listproduct-allproducts hr {
  border: none;
  height: 1px;
  background-color: #e0e0e0;
  margin: 0;
}
@media (max-width: 800px) {
  .list-product {
    box-sizing: border-box;
    width: 95%;
    height: 100%;
    padding: 10px 20px;
    margin: 20px auto;
  }
  .listproduct-format-main {
    grid-template-columns: 60px 1fr 80px 80px 80px 40px;
    padding: 15px 0px;
    font-size: 12px;
    color: #454545;
    gap: 5px;
  }
  .listproduct-product-icon {
    height: 50px;
    width: 50px;
    object-fit: contain;
  }
  .listproduct-remove-icon {
    width: 20px;
    height: 20px;
  }
}
